@charset "UTF-8";
/*!
 * Marp / Marpit SOAT theme.
 *
 * @theme D-EDGE
 * @author Romain Deneau
 *
 * @auto-scaling true
 * @size 4:3 960px 720px
 */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import-theme 'gaia';

.hljs-comment {
  font-style: normal;
}

section {
  font-size: 28px;
  font-family: 'Montserrat', 'Trebuchet MS', 'Segoe UI', sans-serif;
  color: #1d1d1b;
  background-color: #fff;
  background: url(../themes/d-edge/backgrounds/bg0b.png) no-repeat center center;
  padding: 40px;
}

section :is(marp-pre) {
  background-color: #1d1d1b;
}

section a,
section mark {
  color: #491e81;
}

section code {
  background: #4a4a49;
  color: #fff;
}

section h1 strong,
section h2 strong,
section h3 strong,
section h4 strong,
section h5 strong,
section h6 strong {
  color: #00d7b0;
}

section pre>code {
  background: #1d1d1b;
}

section pre>code.language-cs svg foreignObject:before,
section pre>code.language-fs svg foreignObject:before,
section pre>code.language-ts svg foreignObject:before,
section pre>code.language-js svg foreignObject:before,
section pre>code.language-json svg foreignObject:before {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border-radius: 3px;
  padding: 1px 6px;
  float: right;
}

section pre>code.language-cs svg foreignObject:before {
  content: 'C#';
}

section pre>code.language-fs svg foreignObject:before {
  content: 'F#';
}

section pre>code.language-js svg foreignObject:before {
  content: 'JS';
}

section pre>code.language-json svg foreignObject:before {
  content: 'JSON';
}

section pre>code.language-ts svg foreignObject:before {
  content: 'TS';
}

section code {
  font-family: "Fira Code", monospace;
  font-variant-ligatures: normal;
}

section header,
section footer,
section section::after,
section blockquote::before,
section blockquote::after {
  color: #4a4a49;
}

section footer {
  margin-left: 6px;
}

section.toc footer {
  margin-left: 80px;
}

section table th,
section table td {
  border-color: #1d1d1b;
}

section table thead th {
  background: #1d1d1b;
  color: #fff;
}

section table tbody>tr:nth-child(odd) td,
section table tbody>tr:nth-child(odd) th {
  background: rgba(29, 29, 27, 0.1);
}

section ul {
  list-style: none;
  padding-left: 30px;
}

section ul li::before {
  content: '➔';
  display: inline-block;
  margin-right: 25px;
}

section.invert {
  color: #fff;
  background-color: #1d1d1b;
}

section.invert a,
section.invert mark {
  color: #f6a000;
}

section.invert code {
  background: #d2d2d1;
  color: #1d1d1b;
}

section.invert h1 strong,
section.invert h2 strong,
section.invert h3 strong,
section.invert h4 strong,
section.invert h5 strong,
section.invert h6 strong {
  color: #f6a000;
}

section.invert pre>code {
  background: #fff;
}

section.invert header,
section.invert footer,
section.invert section::after,
section.invert blockquote::before,
section.invert blockquote::after {
  color: #d2d2d1;
}

section.invert table th,
section.invert table td {
  border-color: #fff;
}

section.invert table thead th {
  background: #fff;
  color: #1d1d1b;
}

section.invert table tbody>tr:nth-child(odd) td,
section.invert table tbody>tr:nth-child(odd) th {
  background: rgba(255, 255, 255, 0.1);
}

section.d-edge {
  color: #fff;
  background-color: #491e81;
}

section.d-edge a,
section.d-edge mark {
  color: #f6a000;
}

section.d-edge code {
  background: #dbf0eb;
  color: #491e81;
}

section.d-edge h1 strong,
section.d-edge h2 strong,
section.d-edge h3 strong,
section.d-edge h4 strong,
section.d-edge h5 strong,
section.d-edge h6 strong {
  color: #f6a000;
}

section.d-edge pre>code {
  background: #fff;
}

section.d-edge header,
section.d-edge footer,
section.d-edge section::after,
section.d-edge blockquote::before,
section.d-edge blockquote::after {
  color: #dbf0eb;
}

section.d-edge table th,
section.d-edge table td {
  border-color: #fff;
}

section.d-edge table thead th {
  background: #fff;
  color: #491e81;
}

section.d-edge table tbody>tr:nth-child(odd) td,
section.d-edge table tbody>tr:nth-child(odd) th {
  background: rgba(255, 255, 255, 0.1);
}

section.title {
  background: url(../themes/d-edge/backgrounds/bg1.png) no-repeat center center;
  background-size: cover;
  background-position: right center;
  padding-left: 78px;
  padding-bottom: 60px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

section.title h1,
section.title h2,
section.title h3 {
  width: 70%;
}

section.title h2 {
  color: #d8bcff;
  margin-bottom: 40px;
}

section.title h3 {
  font-size: 1.2em;
  margin-left: 70px;
}

section.end {
  background: url(../themes/d-edge/backgrounds/bg1.png) right top no-repeat, #491e81;
  background-size: cover;
}

section.chapter {
  background: url(../themes/d-edge/backgrounds/bg2.png) right top no-repeat, #491e81;
  background-size: cover;
}

section.toc {
  background: url(../themes/d-edge/backgrounds/bg3.png) right top no-repeat, #491e81;
  background-size: cover;
}

section.speaker {
  background-image: url(../themes/d-edge/pictos/SOAT_pictos_reunion.png), url(../themes/d-edge/backgrounds/bg-orange.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 20%, cover;
  background-position: left, top right;
}

section.speaker h2 {
  padding-left: 400px;
}

section.speaker p,
section.speaker ul {
  padding-left: 400px;
}

section.speaker ul {
  margin-top: 30px;
  margin-bottom: 50px;
}

section.speaker img[alt~='social-network'] {
  height: 40px;
  margin-top: 0px;
  margin-bottom: -15px;
  margin-left: -10px;
  margin-right: 10px;
}

section.speaker a {
  text-decoration: none;
  color: #fff;
  padding-left: 0;
}

section.agenda h2 {
  text-align: left;
  margin-left: 60px;
}

section.agenda ul {
  margin-left: 60px;
}

section.agenda ul li::before {
  color: #ffe60b;
}

section.chapter {
  padding-left: 160px;
  overflow: visible;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "count title" "none subtitle";
  align-items: flex-end;
  justify-content: center;
}

section.chapter h1 {
  grid-area: count;
  margin-right: 20px;
  line-height: 168px;
  font-size: 7em;
}

section.chapter h2 {
  grid-area: title;
  margin-top: 100px;
  font-size: 1.6em;
  max-width: 65%;
  align-self: left;
}

section.chapter h3 {
  grid-area: subtitle;
  font-weight: normal;
  font-size: 1em;
}

section img[alt~='bg-right'] {
  position: absolute;
  right: 80px;
  bottom: 120px;
  top: auto;
}

section img[alt~='center'] {
  display: block;
  margin: 0 auto;
}

section.workshop h1,
section.break h1 {
  font-size: 250%;
}

section:not(.title):not(.speaker):not(.chapter):not(.agenda):not(.workshop):not(.break):not(.end) h1 {
  background: #491e81;
  background: linear-gradient(90deg, rgba(139, 66, 225, 1) 0%, rgba(127, 20, 181, 1) 35%, rgba(73, 30, 129, 1) 100%);
  color: #fff;
  padding: 20px 40px;
  line-height: 60px;
  margin: -40px;
  margin-bottom: 0;
}

/* PAGINATION */
section::after {
  color: #1d1d1b;
  font-weight: 400;
  font-size: .8em;
  padding-right: 15px;
}

section.chapter::after {
  color: white
}

section.title::after,
section.end::after {
  visibility: hidden;
}

/* 2-Columns Layout */
.column {
  float: left;
}

.row:after {
  /* Clear floats after the columns */
  content: "";
  display: table;
  clear: both;
}